numpy==2.2.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
tzdata==2024.2
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
transformers
accelerate>=0.26.0
bs4
PyPDF
faiss-cpu
chromadb
streamlit
gradio
pandas
pyprojroot
PyYAML
SQLAlchemy
langchain_experimental
tiktoken==0.4.0
protobuf~=3.19.0
mysql-connector-python
pymysql
sentence-transformers
chromadb
wikipedia
arxiv
langchainhub